/*reset selector*/
* {
    margin: 0;
    padding: 0;
}

/* the styles for the elements */
/* the styles for the header */
header img {
    padding-left: 3.75%;
    padding-right: 3.75%;
    float: left;
}

header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;

    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

    background-image: -moz-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

    background-image: -o-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);

    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header h2 {
    font-size: 170%;
    color: #800000;
    text-indent:
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;

}

body {
    border: 3px solid #931420;
    /*    width: 800px; mod8 killed it*/
    width: 98%;
    max-width: 960px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffded;
}

/* the styles for the section */
/* DELETED IN MOD 6
main {
    padding-left: 30px;
    padding-right: 30px;
	clear: left;
}
*/
/*main h1 {
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 150%;
}*/
/*new h1*/
main {
    display: flex;
}

h1 {
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0;
}

article {
    padding: .5em 0 .5em 0;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

section article h2 {
    padding-top: 0;
}

article h3 {
    font-size: 105%;
}

article img {
    float: right;
    border: 1px solid black;
    margin-bottom: 4em;
    margin-top: .75em;
    margin-left: 1.5em;
    /*    mod 8 */
    max-width: 40%;
    min-width: 140px;
}

section h2,
aside h2 {
    padding-top: .5em;
    padding-bottom: .25em;
    font-size: 130%;
    color: #800000;
}

aside h3 {
    padding-bottom: .25em;
    font-size: 105%;
}

/*mod 6 section and aside tag*/
main section {
    /*    width: 54.6875%;*/
    /*    width: 65.625%;                           MOD 9*/
    /*    float: right;                            MOD 9*/
    /*    padding: 0 20px 20px 20px;*/
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    /*    mod8*/
    flex-basis: 70%;
    order: 2;
}

main aside {
    /*    width: 215px;*/
    /*    width: 26.875%;                                MOD 9*/
    /*    float: right;                              MOD9*/
    padding-left: 2.5%;
    padding-bottom: 20px;
    flex-basis: 30%;
    order: 1;
}

aside img {
    padding-bottom: 1em;
}

a:hover {
    font-style: italic;
}

a:focus {
    font-style: italic;
}

/* the styles for the footer */

.shadow {
    text-shadow: 2px 2px 2px #800000;
}

/*mod 5 css*/

html {
    background-color: white;
}

/* no more main H1, it was deleted.
main h1 {
    border: 3px double #931420;
    border-radius: 10px;
    box-shadow: 4px 4px black;
    padding-left: 2em;
    background-color: white;
}*/

/*
main img {
    padding-bottom: 1em;
}
*/
section p {
    padding-bottom: .5em;
}

main blockquote {
    font-style: italic;
    padding-left: 2em;
    padding-right: 2em;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

footer {
    text-align: center;
}

footer {
    /*    clear: both;                                            MOD9*/
    background-color: #931420;
    color: white;
    padding: 1em 0;
}

#nav_menu ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    /*    mod9*/
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    /*    mod9*/
}

#nav_menu ul li {
    /*    float: left;                                                    MOD9 */
    /*    width: 100%; not sure if 16 or 20%*/
    width: 20%;
    flex-basis: 20%;
}

#nav_menu ul li a {
    display: block;
    /*    width: 160px;*/

    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu ul li a.current {
    color: yellow;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;

}

#nav_menu ul ul li {
    /*    float: none;                          possibly irrelevant      MOD9*/
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after {
    content: "";
    display: block;
    /*    clear: both;                                                      MOD9*/
}

ul.circle {
    list-style-type: circle;
}

/*Media QUERIE*/
#mobile_menu {
    display: none;
}

@media only screen and (max-width: 959px) {
    section h1 {
        font-size: 135%;
    }

    section h2 {
        font-size: 120%;
    }

    aside h2 {
        font-size: 120%;
    }
}

@media only screen and (max-width: 767px) {
    header img {
        float: none;
    }

    header {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    main section {
        /*        float: none;                                                         MOD9*/
        width: 95%;
        order: 1;
    }

    header h2 {
        flex-basis: 100%;
    }

    header h3 {
        flex-basis: 100%;
    }

    main {
        flex-direction: column;
    }

    main aside {
        /*        float: none;                                   MOD9*/
        width: 95%;
        padding-right: 2.5%;
        order: 2;
    }

    article img {
        max-width: 30%;
    }

    #speakers {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #nav_menu {
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    .slicknav_menu {
        background-color: #800000 !important;
    }
}

@media only sceen and (max-width: 479px) {
    body {
        font-size: 90%;
    }
}

#luncheon_head {
    padding-bottom: .25em;
}

#year_th, tfoot {
    border-top: 3px solid #800000;
    border-bottom: 3px solid #800000;
}

thead th, tfoot {
    padding-right: 1em;
    padding-left: 1em;
    text-align: left;
    padding-top. .2em;
    padding-bottom: .2em;

}

td {
    text-align: left;
    padding: .2em 1em;
    
}
tfoot th {
    text-align: right;
}
.right {
    text-align: right;
}
tfoot td {
    font-weight: bold;
    text-align: right;
}
.border_bottom {
    border-bottom: 3px solid #800000;
}